#pin-pic {
    width: 250px;
    border-radius: 3px;
}

.pin-form-box {
    width: 550px;
    height: 300px;
}

.pin-edit-inputs {
    display: flex;
    flex-direction: column;
}

.pin-edit-form {
    display: flex;
    flex-direction: row;
}