#pin-pic {
    width: 250px;
    border-radius: 3px;
}

.edit-pin-form-box {
    background: white;
   position: relative;
   align-self: center;
   margin: auto;
   font-family: $sans-serif;
   font-size: 16px;
   color: $dark-gray;
   display: flex;
   align-items: flex-end;
   flex-direction: column;
   min-width: 800px;
   border-radius: 2%;
   z-index: 15;
   margin-top: 76px;
}

.pin-edit-inputs {
    display: flex;
    flex-direction: column;
}

.pin-edit-form {
    display: flex;
    flex-direction: row;
}