.header-group {
   height: 56px; 
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid rgb(223, 221, 221);
   align-items: center;
}

.header-group input[type=text] {
  font-family: $sans-serif;
  font-weight: 700;
  width: 100%;
  padding: 6px;
  background-color: $light-gray;
  border: 1px solid $light-gray;
  border-radius: 8px;
  margin-top: 12px;
  margin-right: 16px;
  font-size: 17px;
}

.header-link, .right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-link {
   text-decoration: none;
   color: white;
   background-color: $red;
   font-family: $sans-serif;
   height: 48px;
   width: 48px;
   font-size: x-large;
   top: -10px;
   margin-left: 20px;
}

.nav-button {
   display: flex;
   justify-content: center;
   font-size: 16px;
   font-weight: 600;
   font-family: $sans-serif;
   margin-top: 5px;
   list-style: none;
}

.nav-button li button {
   padding: 11px;
   border-radius: 30px;
   cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
  color: #8e8e8e;
  padding: 12px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-top: 12px;
  margin-right: 5px;
  font-weight: 400;
  letter-spacing: 2px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(237, 237, 237);
  border-radius: 50%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
	top: 64px;
	right: 0;
    background-color: #fff;
	border: 1px solid $light-gray;
	border-radius: 3px;
	// padding: 10px;
	width: 328px;
	z-index: 1;
	font-family: $sans-serif;
	text-align: left;
	box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
    font-weight: initial;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: $sans-serif;
  font-weight: 700;
}

.dropdown-content a:hover {
  cursor: pointer;
  background-color: $light-gray;
}

.show {display:block;}