.masonry {
  margin: 1.5em auto;
  max-width: 768px;
  column-gap: 1.5em;
  display: flex;
  margin-top: 76px;
}

.pin {
  padding: 1em;
  display: flex;
  max-width: 200px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
}

#pin-img {
  border-radius: 15px;
}

#pin-img:hover {
  cursor: zoom-in;
}

.save-button {
    display: flex;
    background-color: $red;
    color: $white;
    font-family: $sans-serif;
   height: 40px;
   border-radius: 15px;
   border: 0.5px solid $bright-red;
   font-weight: 600;
   font-size: 14px;
   width: 70px;
   justify-content: center;
   align-content: center;
   position: absolute;
   margin-top: 10px;
   right: 25px;
}

.pin a {
  flex-wrap: wrap;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 6;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 5;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 4;
  }
}